:root {
  --primeri-background-color: #ffffff;
  --primeri-text-color: #272425;
  --aside-text-color: #ffffff;
  --aside-title-color: #e7c195;
  --aside-background-color: #3f4b5a;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --accent-white: #ffffff;
  --header-futer-background: #3f4b5a;
  --header-futer-color: #e7c195;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: var(--aside-text-color);
}

a:focus,
a:hover  {
  color: var(--accent-color);
}

li,
p {
  list-style-type: none;
  margin: 5px;
  margin-left: 15px;
  padding: 0;
}

img {
  display: block;
  margin: 0 auto;
}

ul {
  margin-left: 0;
  /* Отступ слева в браузере IE и Opera */
  padding-left: 0;
  /* Отступ слева в браузере Firefox, Safari, Chrome */
  margin: 0;
  padding: 0;
}

.body {
  background-color: var(--primeri-background-color);
  color: var(--primeri-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
}  

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;

  border-right: 2px solid var(--aside-background-color);
  
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 60px 1fr 60px;
  
}

hr {
  margin: 0 auto;
  margin-bottom: 10px;
  size: 2;
  color: var(--aside-background-color);
}

.my-foto {
  width: 240px;
  height: 240px;
  margin: 0 auto;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 0 1px grey, 0 0 13px #333;
}

.title {
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 1em;
  margin-top: 10px;
  color: var(--aside-title-color);
}

/*-------- HEADER--------------*/
.page-header {
  background-color: var(--header-futer-background);
  grid-row: 1/2;
  grid-column: 2/3;
}

.nav-link {
  color: var(--header-futer-color);
  font-size: 1em;
}

.nav-list {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: end;
}

.nav-item {
  margin-right: 10px;
}

.menu-button {
  display: none;
}

.menu-container {
  display: contents;
}

/*-------- ASIDE--------------*/
.aside {  
  grid-column: 1/2;
  grid-row: 1/ span 7;
  background: var(--aside-background-color);
  color: var(--aside-text-color);
  padding-left: 15px;
  padding-right: 15px;
}

.name {
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.5;
  margin: 0;
  margin-top: 10px;
}

.aside__title {
  display: flex;
  justify-content: center;
  font-size: 1em;
  margin: 0;
  color: var(--aside-title-color);
}

.main{
  display: grid;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  grid-template-rows: 110px 485px 140px 260px 150px;  
}

/*-------- ABOUT--------------*/
.about {
  grid-row: 1 / 2;
}

/*-------- CODE--------------*/
.code {
  grid-row: 2 / 3;
}

pre{
  margin: 0;
  background-color: #222;
}

code {
  font-family: monospace;
  font-size: 1.2em;
  color: var(--accent-white);
}

/*-------- EDUCATION--------------*/
.education {
  grid-row: 3 / 4;
  margin: 0;
}

.education__nav-link {
  color: var(--primeri-text-color);

  display: flex;
  align-items: center;
}

.education__icon {
  margin-right: 15px;
}

.education__png-icon {
  margin: 0;
  margin-right: 15px;
  width: 50px;
}

/*-------- EXPERIENCE--------------*/
.experience {
  grid-row: 4 / 5;
  margin: 0;
}

.experience__list__item__link {
  color: var(--primeri-text-color);
}

.experience__list__contacts__item__link {
  color: var(--primeri-text-color);
}

/*-------- LANGUAGES--------------*/
.languages {
  grid-row: 5 / 6;
  margin: 0;
}

/*-------- FOOTER--------------*/
.footer {
  grid-row: 3 / 4;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--header-futer-background);
  color: var(--header-futer-color);
}

.footer-contacts__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
